.markupcoeElement {
	display: block;
	height: 100%;
	width: 100%;
}

.markupcoeWidget {
	margin: auto;
	width: 198px;
	height: 54px;
	border-radius: 5px;
	background-color: #DDDDDD;
	padding: 3px;
	opacity: 0.5;
}

.ui-container {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	background-color: transparent;
	flex-direction: column;
	z-index: 999;
}

.markup-toolbar {
	position: absolute;

	top: unset !important;
	left: calc(50vw - 203px); 
	width: 405px;
	height: 60px !important;
	padding: 5px !important;
	border-style: solid;
	border-radius: 40px;
	background-color: #3d4647 !important;
	z-Index: 910;
}

.toolbarresetbutton {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 40px;
	height: 40px;
	z-Index: 920;
}

.toolbarmarkerbutton {
	position: absolute;
	top: 10px;
	left: 95px;
	width: 40px;
	height: 40px;
	background-color: transparent !important;
	z-Index: 920;
	src: "../extensions/images/Markup_marker.png";
}

.toolbararrowbutton {
	position: absolute;
	top: 10px;
	left: 135px;
	width: 40px;
	height: 40px;
	background-color: transparent !important;
	z-Index: 920;
	src: "../extensions/images/Markup_arrow.png"
}

.yellow {
	position: absolute;
	top: 10px;
	left: 215px;
	width: 40px;
	height: 40px;
	background-color: transparent !important;
	z-Index: 920;
	src: "../extensions/images/Markup_yellowspot.png";
}

.red {
	position: absolute;
	top: 10px;
	left: 260px;
	width: 40px;
	height: 40px;
	background-color: transparent !important;
	z-Index: 920;
	src: "../extensions/images/Markup_redspot.png";
}

.blue {
	position: absolute;
	top: 10px;
	left: 305px;
	width: 40px;
	height: 40px;
	background-color: transparent !important;
	z-Index: 920;
	src: "../extensions/images/Markup_bluespot.png";
}

.black {
	position: absolute;
	top: 10px;
	left: 350px;
	width: 40px;
	height: 40px;
	background-color: transparent !important;
	z-Index: 920;
	src: "../extensions/images/Markup_blackspot.png";
}


.toolbarfinishbutton {
	position: absolute;
	top: -50px;
	left: 158px;
	width: 40px;
	height: 40px;
	z-Index: 920;
}

.toolbarcancelbutton {
	position: absolute;
	top: -50px;
	left: 208px;
	width: 40px;
	height: 40px;
	z-Index: 920;
}

  .lens {
	top : 1px;
	left : 1px;
	position : absolute;
	z-Index :  910;
  }

